@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: inherit; }

:root {
  --fuente-titulo: "Poppins", sans-serif;
  --fuente-texto: "Josefin Sans", sans-serif; }

header {
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2; }

.headerScrol {
  box-shadow: 0 5px 15px #00000029; }

.container {
  width: 85%;
  max-width: 1265px;
  margin: 0 auto; }

.containerContact {
  width: 85%;
  max-width: 1265px;
  margin: 0 auto;
  padding: 50px 0;
  height: 100%; }

.content {
  height: 100%; }

#navigation {
  display: flex;
  justify-content: space-between;
  padding: 70px 0; }

.logo .title {
  font-family: var(--fuente-titulo);
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  font-style: italic;
  color: #fff; }

.logo #title2 {
  display: none; }

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }

ul li {
  margin: 0 16px;
  color: white;
  text-decoration: none;
  font-family: var(--fuente-texto);
  font-size: 30px;
  font-weight: 700; }

ul li.icon {
  margin-right: 70px;
  height: 31px; }

.scrollhidden {
  overflow: hidden; }

a.contacto,
a.cerrar {
  cursor: pointer; }

.nav-item {
  color: white;
  text-decoration: none; }

/*seccion home*/
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .home .context {
    margin-top: 100px;
    display: flex;
    justify-content: space-between; }
  .home .part1 {
    width: 50%; }
    .home .part1 h1 {
      font-family: var(--fuente-texto);
      color: white;
      font-size: 84.67px;
      font-weight: 700;
      width: 799px; }
    .home .part1 p {
      margin-top: 5px;
      font-family: var(--fuente-titulo);
      font-size: 30px;
      font-weight: 200;
      line-height: 36px;
      color: white;
      width: 757px;
      margin-bottom: 65px; }
    .home .part1 a {
      color: white;
      text-decoration: none;
      border: 1px solid #fff;
      font-family: var(--fuente-texto);
      font-size: 42.33px;
      line-height: 42.33px;
      font-weight: 300;
      padding: 15px 45px;
      border-radius: 16.93px; }
  .home .part2 {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: end;
    z-index: -2; }
    .home .part2 p {
      position: absolute;
      bottom: -150px;
      font-family: var(--fuente-titulo);
      font-size: 30px;
      line-height: 45px;
      font-weight: 200;
      color: white;
      margin-right: 70px;
      animation-name: up-down;
      animation-duration: 3s;
      animation-iteration-count: infinite; }
    .home .part2 p::before {
      content: "";
      width: 2px;
      height: 74px;
      background-color: white;
      position: absolute;
      left: 38.8px;
      top: -75px; }

.home-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/backHome.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -2;
  animation: zoomInOut 20s ease infinite; }

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }

@keyframes up-down {
  0% {
    bottom: -150px; }
  50% {
    bottom: -100px; }
  100% {
    bottom: -150px; } }

/*about*/
.about {
  height: 100vh;
  display: flex;
  align-items: center; }
  .about .context {
    display: flex;
    justify-content: space-around; }
    .about .context .part1 {
      width: 50%; }
    .about .context .part2 {
      width: 50%; }
      .about .context .part2 h2 {
        font-family: var(--fuente-texto);
        font-size: 76.73px;
        line-height: 72px;
        width: 550px; }
      .about .context .part2 h3 {
        font-family: var(--fuente-texto);
        font-size: 35px;
        font-weight: 600;
        margin-top: 10px; }
      .about .context .part2 p {
        font-size: 26px;
        line-height: 36px;
        font-weight: 300;
        padding-top: 30px; }
      .about .context .part2 .btn {
        display: flex;
        justify-content: end;
        margin-top: 36px; }
      .about .context .part2 a {
        font-family: var(--fuente-texto);
        font-size: 42.33px;
        font-weight: 300;
        line-height: 42.33px;
        text-decoration: none;
        color: #000;
        border: 1px solid #000;
        padding: 15px 45px;
        border-radius: 16.93px;
        font-style: italic; }

/*Reels*/
.reels,
.galeria {
  height: 100vh; }
  .reels .context,
  .galeria .context {
    padding-top: 100px; }
    .reels .context h2,
    .galeria .context h2 {
      font-family: var(--fuente-texto);
      font-weight: 600;
      font-size: 58.55px;
      line-height: 63px;
      margin-bottom: 60px; }
    .reels .context .btn,
    .galeria .context .btn {
      margin-top: 80px; }
      .reels .context .btn a,
      .galeria .context .btn a {
        font-family: var(--fuente-texto);
        font-size: 42.33px;
        font-weight: 300;
        line-height: 42.33px;
        text-decoration: none;
        color: #000;
        border: 1px solid #000;
        padding: 15px 45px;
        border-radius: 16.93px;
        font-style: italic; }

.galeria .btn {
  margin-top: 100px; }
  .galeria .btn a {
    font-family: var(--fuente-texto);
    font-size: 42.33px;
    font-weight: 300;
    line-height: 42.33px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 15px 45px;
    border-radius: 16.93px;
    font-style: italic; }

.slick-next,
.slick-prev {
  display: none !important; }

/*Page thanks*/
.thanks .content {
  position: relative; }
  .thanks .content .contenidoThnaks {
    justify-content: center;
    position: relative; }
  .thanks .content .textThank .btn {
    text-align: center;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    width: 690px; }
    .thanks .content .textThank .btn a {
      border: 1px solid #000;
      font-family: var(--fuente-texto);
      font-size: 42px;
      color: #000;
      font-weight: 300;
      text-decoration: none;
      padding: 15px 50px;
      border-radius: 17px; }
    .thanks .content .textThank .btn a.instagram {
      padding: 15px 30px; }
  .thanks .content .textThank .titleThanks {
    display: flex;
    text-align: center;
    flex-direction: column; }
  .thanks .content .textThank h1 {
    font-family: var(--fuente-texto);
    font-weight: 800;
    font-size: 84px;
    font-style: italic;
    justify-content: center; }
  .thanks .content .textThank p {
    font-family: var(--fuente-titulo);
    font-size: 25px;
    margin-top: 15px; }
  .thanks .content .textThank::before {
    content: url(../img/rama3.png);
    position: absolute;
    right: 74px;
    top: -174px; }

.thanks .content::before {
  content: none !important; }

.thanks .content::after {
  content: none !important; }

/*contacto page*/
.contactopage {
  height: 100vh;
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  background-color: #fff; }
  .contactopage .content {
    position: relative; }
  .contactopage .content::before {
    content: url(../img/rama1.png);
    position: absolute;
    left: -146px;
    top: -79px; }
  .contactopage .content::after {
    content: url(../img/rama2.png);
    position: absolute;
    right: -146px;
    bottom: -40px; }
  .contactopage .close {
    display: flex;
    justify-content: end; }
    .contactopage .close a img {
      width: 60px; }
  .contactopage .center {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%; }
    .contactopage .center .contenido {
      display: flex;
      width: 100%;
      align-items: center;
      transform: translateY(-120px); }
    .contactopage .center .title {
      width: 50%; }
      .contactopage .center .title h2 {
        font-family: var(--fuente-texto);
        font-size: 84px;
        width: 650px;
        font-style: italic; }
      .contactopage .center .title p {
        font-family: var(--fuente-titulo);
        font-size: 26px; }
    .contactopage .center .contenido-formulario {
      padding-left: 50px;
      width: 40%; }
      .contactopage .center .contenido-formulario h2,
      .contactopage .center .contenido-formulario p {
        font-family: var(--fuente-titulo);
        font-size: 35px;
        font-weight: 300; }
      .contactopage .center .contenido-formulario form {
        margin-top: 20px; }
        .contactopage .center .contenido-formulario form fieldset {
          display: flex;
          flex-direction: column;
          border: none; }
          .contactopage .center .contenido-formulario form fieldset input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; }
          .contactopage .center .contenido-formulario form fieldset input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0; }
          .contactopage .center .contenido-formulario form fieldset input[type="number"] {
            -moz-appearance: textfield; }
          .contactopage .center .contenido-formulario form fieldset input {
            font-family: var(--fuente-titulo);
            margin-bottom: 20px;
            height: 50px;
            border: none;
            border-bottom: 1px solid #000;
            font-size: 18px; }
          .contactopage .center .contenido-formulario form fieldset input[type="email"] {
            margin-bottom: 35px; }
          .contactopage .center .contenido-formulario form fieldset textarea {
            font-family: var(--fuente-titulo);
            border: none;
            border-bottom: 1px solid #000;
            margin-bottom: 30px;
            font-size: 18px;
            height: 130px; }
          .contactopage .center .contenido-formulario form fieldset input[type="submit"] {
            width: 270px;
            background-color: #fff;
            border: 1px solid #000;
            color: #000;
            font-family: var(--fuente-texto);
            font-size: 43px;
            font-weight: 300;
            border-radius: 18px;
            height: 77px; }
  .contactopage .form {
    display: flex;
    flex-direction: column; }

.contactopage.open {
  transform: translateX(0%);
  z-index: 10;
  position: absolute, fixed;
  top: 0; }
