@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: inherit;
}

:root {
  --fuente-titulo: "Poppins", sans-serif;
  --fuente-texto: "Josefin Sans", sans-serif;
}

header {
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  //   height: 100px;
  transition: 0.5s;
  z-index: 2;
}

.headerScrol {
  box-shadow: 0 5px 15px #00000029;
}

a img#black {
  display: none;
}

.container {
  width: 85%;
  max-width: 1265px;
  margin: 0 auto;
}

.containerContact {
  width: 85%;
  max-width: 1265px;
  margin: 0 auto;
  padding: 50px 0;
  height: 100%;
}

.content {
  height: 100%;
}

#navigation {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.logo {
  a {
    text-decoration: none;
  }
  .title {
    font-family: var(--fuente-titulo);
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    font-style: italic;
    color: #fff;
  }
  #title2 {
    display: none;
  }
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

ul {
  li {
    margin: 0 16px;
    color: white;
    text-decoration: none;
    font-family: var(--fuente-texto);
    font-size: 30px;
    font-weight: 700;
  }
  li.icon {
    height: 35px;
    margin-right: 0;
  }
}

.scrollhidden {
  overflow: hidden;
}

a.contacto,
a.cerrar {
  cursor: pointer;
}

.nav-item {
  color: white;
  text-decoration: none;
}

/*seccion home*/

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  .context {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  .part1 {
    width: 50%;
    h1 {
      font-family: var(--fuente-texto);
      color: white;
      font-size: 84.67px;
      font-weight: 700;
      width: 799px;
    }
    p {
      margin-top: 5px;
      font-family: var(--fuente-titulo);
      font-size: 30px;
      font-weight: 200;
      line-height: 36px;
      color: white;
      width: 757px;
      margin-bottom: 65px;
    }
    a {
      color: white;
      text-decoration: none;
      border: 1px solid #fff;
      font-family: var(--fuente-texto);
      font-size: 42.33px;
      line-height: 42.33px;
      font-weight: 300;
      padding: 15px 45px;
      border-radius: 16.93px;
      overflow: hidden;
      &:hover {
        color: #000;
      }
    }
  }
  .part2 {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: end;
    z-index: -2;
    p {
      position: absolute;
      bottom: -150px;
      font-family: var(--fuente-titulo);
      font-size: 30px;
      line-height: 45px;
      font-weight: 200;
      color: white;
      margin-right: 70px;
      animation-name: up-down;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
    p::before {
      content: "";
      width: 2px;
      height: 74px;
      background-color: white;
      position: absolute;
      left: 38.8px;
      top: -75px;
    }
  }
}

.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -3;
  video {
    min-width: 100%;
    min-height: 100%;
  }
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-image: url(../img/backHome.png);
  //   background-attachment: fixed;
  //   background-size: cover;
  //   background-position: center;
  //   z-index: -2;
  //   animation: zoomInOut 20s ease infinite;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes up-down {
  0% {
    bottom: -150px;
  }
  50% {
    bottom: -100px;
  }
  100% {
    bottom: -150px;
  }
}

/*about*/

.about {
  padding-top: 150px;
  display: flex;
  align-items: center;
  // background-attachment: fixed;
  // background-size: cover;
  // background-position: center;
  .context {
    display: flex;
    justify-content: space-around;
    .part1 {
      width: 50%;
    }
    .part2 {
      width: 50%;
      h2 {
        font-family: var(--fuente-texto);
        font-size: 76.73px;
        line-height: 72px;
        width: 550px;
      }
      h3 {
        font-family: var(--fuente-texto);
        font-size: 35px;
        font-weight: 600;
        margin-top: 10px;
      }
      p {
        font-size: 26px;
        line-height: 36px;
        font-weight: 300;
        padding-top: 30px;
      }

      .btn {
        display: flex;
        justify-content: end;
        margin-top: 36px;
      }

      a {
        font-family: var(--fuente-texto);
        font-size: 42.33px;
        font-weight: 300;
        line-height: 42.33px;
        text-decoration: none;
        color: #000;
        border: 1px solid #000;
        padding: 15px 45px;
        border-radius: 16.93px;
        background-color: #fff;
        overflow: hidden;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

/*Reels*/

.reels,
.galeria {
  padding-top: 150px;
  .context {
    h2 {
      font-family: var(--fuente-texto);
      font-weight: 600;
      font-size: 58.55px;
      line-height: 63px;
      margin-bottom: 60px;
    }
    .btn {
      margin-top: 80px;
      a {
        font-family: var(--fuente-texto);
        font-size: 42.33px;
        font-weight: 300;
        line-height: 42.33px;
        text-decoration: none;
        color: #000;
        border: 1px solid #000;
        padding: 15px 45px;
        border-radius: 16.93px;
        background-color: #fff;
        overflow: hidden;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.containerback {
  position: relative;
}

.backRama::before {
  content: url(../img/backabout.png);
  position: absolute;
  z-index: -2;
  top: -120px;
  left: 21%;
  opacity: 0.8;
}

.slick-dots {
  display: none !important;
}

.reels {
  .autoplay {
    .boda1,
    .boda2 {
      margin: 0 20px;
      img {
        width: 584px !important;
        height: 487px !important;
      }
      video {
        display: none;
        border-radius: 20px;
      }
    }
    .boda1:hover,
    .boda2:hover {
      img {
        // display: none;
        animation: ocultar 0.8s ease;
        animation-fill-mode: forwards;
      }
      video {
        display: block;
        border: 1px solid #fff;
      }
    }
  }

  .slick-next,
  .slick-prev {
    width: 51px;
    height: 51px;
  }

  .slick-next {
    right: 0 !important;
    top: -100px;
  }

  .slick-prev {
    top: -100px;
    left: unset !important;
    right: 76px;
  }

  .slick-next::before,
  .slick-prev::before {
    content: none !important;
  }

  .slick-next {
    background-image: url(../img/flecha2.svg) !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
  }
  .slick-prev {
    background-image: url(../img/flecha1.svg) !important;
    background-size: 100% !important;
  }
}

@keyframes ocultar {
  0% {
    position: absolute;
    opacity: 1;
  }
  100% {
    position: absolute;
    opacity: 0;
    display: none;
  }
}

.galeria {
  .btn {
    margin-top: 100px;
    a {
      font-family: var(--fuente-texto);
      font-size: 42.33px;
      font-weight: 300;
      line-height: 42.33px;
      text-decoration: none;
      color: #000;
      border: 1px solid #000;
      padding: 15px 45px;
      border-radius: 16.93px;
      background-color: #fff;
    }
  }
  .slick-next,
  .slick-prev {
    width: 51px;
    height: 51px;
  }

  .slick-next {
    right: 319px !important;
    top: -100px;
  }

  .slick-prev {
    top: -100px;
    left: unset !important;
    right: 395px;
  }

  .slick-next::before,
  .slick-prev::before {
    content: none !important;
  }

  .slick-next {
    background-image: url(../img/flecha2.svg) !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
  }
  .slick-prev {
    background-image: url(../img/flecha1.svg) !important;
    background-size: 100% !important;
  }
}

/*Page thanks*/
.thanks {
  .content {
    position: relative;
    .contenidoThnaks {
      justify-content: center;
      position: relative;
    }
    .textThank {
      .btn {
        text-align: center;
        margin-top: 35px;
        display: flex;
        justify-content: space-around;
        width: 690px;
        a {
          border: 1px solid #000;
          font-family: var(--fuente-texto);
          font-size: 42px;
          color: #000;
          font-weight: 300;
          text-decoration: none;
          padding: 15px 50px;
          border-radius: 17px;
        }
        a.instagram {
          padding: 15px 30px;
        }
      }
      .titleThanks {
        display: flex;
        text-align: center;
        flex-direction: column;
      }
      h1 {
        font-family: var(--fuente-texto);
        font-weight: 800;
        font-size: 84px;
        font-style: italic;
        justify-content: center;
      }
      p {
        font-family: var(--fuente-titulo);
        font-size: 25px;
        margin-top: 15px;
      }
    }
    .textThank::before {
      content: url(../img/rama3.png);
      position: absolute;
      right: 74px;
      top: -174px;
      opacity: 0.8;
    }
  }
  .content::before {
    content: none !important;
  }
  .content::after {
    content: none !important;
  }
}

/*contacto page*/

.contactopage {
  height: 100vh;
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  background-color: #fff;
  overflow: hidden;
  .content {
    position: relative;
  }
  .content::before {
    content: url(../img/rama1.png);
    position: absolute;
    left: -146px;
    top: -79px;
    opacity: 0.8;
  }
  .content::after {
    content: url(../img/rama2.png);
    position: absolute;
    right: -146px;
    bottom: -40px;
    opacity: 0.8;
  }
  .close {
    display: flex;
    justify-content: end;
    a {
      img {
        width: 60px;
      }
    }
  }
  .center {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    .contenido {
      display: flex;
      width: 100%;
      align-items: center;
      transform: translateY(-120px);
    }
    .title {
      width: 50%;
      h2 {
        font-family: var(--fuente-texto);
        font-size: 84px;
        width: 650px;
        font-style: italic;
      }
      p {
        font-family: var(--fuente-titulo);
        font-size: 26px;
      }
    }
    .contenido-formulario {
      padding-left: 50px;
      width: 40%;
      h2,
      p {
        font-family: var(--fuente-titulo);
        font-size: 35px;
        font-weight: 300;
      }
      form {
        margin-top: 20px;
        fieldset {
          display: flex;
          flex-direction: column;
          border: none;
          input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          input[type="number"] {
            -moz-appearance: textfield;
          }
          input {
            font-family: var(--fuente-titulo);
            margin-bottom: 20px;
            height: 50px;
            border: none;
            border-bottom: 1px solid #000;
            font-size: 18px;
          }
          input[type="email"] {
            margin-bottom: 35px;
          }
          textarea {
            font-family: var(--fuente-titulo);
            border: none;
            border-bottom: 1px solid #000;
            margin-bottom: 30px;
            font-size: 18px;
            height: 130px;
          }
          input[type="submit"] {
            width: 270px;
            background-color: #fff;
            border: 1px solid #000;
            color: #000;
            font-family: var(--fuente-texto);
            font-size: 43px;
            font-weight: 300;
            border-radius: 18px;
            height: 77px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .form {
    display: flex;
    flex-direction: column;
  }
}

.contactopage.open {
  transform: translateX(0%);
  z-index: 10;
  position: absolute, fixed;
  top: 0;
}

footer {
  padding: 100px 0;
  .contenidoFooter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 66px;
    h3 {
      font-family: var(--fuente-texto);
      font-size: 42px;
      font-weight: 300;
    }
  }
  .creditos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    h3 {
      font-family: var(--fuente-titulo);
      font-size: 19px;
      font-weight: 500;
      line-height: 14px;
    }
    span {
      padding: 2.5px 0 0 8px;
    }
    img {
      padding: 0 0 0 19px;
    }
  }
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ffffff;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Underline From Left */
.hvr-underline-from-left-black {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left-black:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left-black:hover:before,
.hvr-underline-from-left-black:focus:before,
.hvr-underline-from-left-black:active:before {
  right: 0;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #121212;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Right */
.hvr-sweep-to-right-black {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right-black:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right-black:hover,
.hvr-sweep-to-right-black:focus,
.hvr-sweep-to-right-black:active {
  color: white;
}
.hvr-sweep-to-right-black:hover:before,
.hvr-sweep-to-right-black:focus:before,
.hvr-sweep-to-right-black:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 1440px) {
  .logo .title {
    font-size: 46px;
    line-height: 40px;
  }
  ul li {
    font-size: 28px;
    margin: 0 14px;
  }
  .home .part1 h1 {
    font-size: 79.5px;
    line-height: 77px;
    width: 751px;
  }
  .home .part1 p {
    font-size: 26px;
    margin-bottom: 53px;
  }
  .home .part1 a {
    font-size: 35px;
    padding: 15px 34px;
  }
  .about .context .part1 img {
    width: 548px;
  }
  .about .context .part2 h2 {
    font-size: 72.39px;
    width: 525px;
  }
  .about .context .part2 h3 {
    font-size: 33px;
  }
  .about .context .part2 p {
    font-size: 24.53px;
  }
  .about .context .part2 a {
    font-size: 39.94px;
    padding: 15px 32px;
  }
  .backRama::before {
    top: -109px;
    left: 11%;
  }

  @media (max-height: 841px) {
    .galeria .slick-prev,
    .galeria .slick-next,
    .reels .slick-prev,
    .reels .slick-next {
      top: -94px;
    }
  }
  .galeria .slick-prev,
  .galeria .slick-next {
    transform: translateX(207px);
  }
}

@media (max-width: 1280px) {
  .logo .title {
    font-size: 44px;
    line-height: 40px;
  }
  .home .part1 h1 {
    font-size: 75.3px;
    line-height: 75px;
    width: 700px;
  }
  .home .part1 p {
    font-size: 23px;
    width: 700px;
  }
  .home .part1 a {
    font-size: 32px;
    padding: 12px 34px;
  }
  .home .part2 p {
    font-size: 26.88px;
  }
  .home .part2 p::before {
    left: 32.8px;
  }
  .about .context .part1 img {
    width: 516px;
    height: 574px;
  }
  .about .context .part2 h2 {
    font-size: 68.06px;
    width: 469px;
  }
  .about .context .part2 h3 {
    font-size: 31px;
  }
  .about .context .part2 p {
    font-size: 23.06px;
    line-height: 30px;
  }
  .about .context .part2 a {
    font-size: 37.55px;
    padding: 10px 32px;
  }
  .reels .context h2,
  .galeria .context h2 {
    margin-bottom: 42px;
  }

  .reels .slick-prev,
  .reels .slick-next {
    top: -77px;
  }

  .reels .autoplay .boda1 img,
  .reels .autoplay .boda2 img {
    width: 504px !important;
    height: 418px !important;
  }
  .reels .autoplay .boda1:hover video,
  .reels .autoplay .boda2:hover video {
    width: 504px !important;
    height: 418px !important;
  }
  .reels .context .btn a,
  .galeria .context .btn a {
    font-size: 37.55px;
    padding: 11px 45px;
  }
  .galeria .slick-prev,
  .galeria .slick-next {
    transform: translateX(222px);
  }
  .contactopage .center .title h2 {
    font-size: 70px;
    width: 544px;
  }
  .contactopage .center .title p {
    font-size: 23px;
  }
  .contactopage .center .contenido-formulario h2,
  .contactopage .center .contenido-formulario p {
    font-size: 32px;
  }
  .contactopage .center .contenido-formulario form fieldset textarea {
    height: 95px;
  }
  .contactopage
    .center
    .contenido-formulario
    form
    fieldset
    input[type="submit"] {
    width: 241px;
    font-size: 40px;
    height: 65px;
  }
  .thanks .content .textThank h1 {
    font-size: 70px;
  }
  .thanks .content .textThank .btn {
    height: 65px;
  }
  .thanks .content .textThank::before {
    top: -179px;
    opacity: 0.8;
    right: 25px;
    transform: scale(0.8);
  }
  .slick-slide img {
    display: block;
    width: 362px;
  }
  .backRama::before {
    transform: scale(0.96);
    top: -137px;
  }
}
